.tile {
    display: flex ;
    /* border: 1px black solid ; */
    
    text-align: center;
    width: 25px;
    height: 25px;
    border-style: outset;

}

.revealed {
    border-style: inset;
    /* position: absolute; */
    width: 25px;
    height: 25px;
}

.bombed {
    border-style: inset;
    width: 25px;
    height: 25px;
}

.flagged{
    border-style: inset;
    width: 25px;
    height: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 15px;
}